body{
    margin: 0;
}

div.encabezado{
    text-align: center;
    font-size: 40px;
    color:wheat;
    background-color: cadetblue;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 30px;
}

div.menu{
    background-color: #555;
    margin-left: 5%;
    margin-right: 5%;
}

div.menu li, a{
    font-size: 25px;	
    display: inline-block;
    padding: 10px 12%;
}

li, a{
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    color: wheat;
}

.menu li:hover{
    background-color: deepskyblue;
}

div.slider{
    background-color: #777;
position: absolute;
left:5%;
width:30%;
}

div.slider li a{
    padding-bottom: 10px;
    padding-top: 10px;
}

div.slider li:hover{
    background-color: #333;
}

div.contenido{
    font-family: 'Open Sans Condensed', sans-serif;
background-color: #D3E6E6;
position: absolute;
left: 38%;
right: 5%;
}